.diary
  .card-list
    = link_to diary_path(diary.id) do
      .card-item
        .card-img
          .img:hover
            = image_tag diary.image.url, class: 'img', alt: "顔写真1" if diary.image.present?
        .card-title
          = diary.title
        .card-content
          = diary.content
          .content-name
            = diary.user.nickname