.main-middle__diary
  .main-middle__diary__top
    = link_to diary_path(diary.id), class: 'post' do
      .main-middle__diary__top__image
        - if diary.image.present?
          = image_tag diary.image.url, class: 'img', alt: "顔写真1" 
        - else
          = image_tag "no.png", class: 'img'
    .main-middle__diary__bottom
      %span.main-middle__diary__top__image__name
        = link_to diary.user.nickname, user_path(diary.user), class: 'name' 
      .main-middle__diary__bottom__goal
        = diary.user.goal
        まで
        = diary.date.ceil(0)
        日