.wrapper
  = render partial: "header"
  .main
    .main__sidebar
      = render partial: "sidebar"
    .main__center
      = render partial: "image"
    .main-middle
      = render @diaries
    = render partial: "footer"