.top-header
  .header-line
    .header-right
      - if user_signed_in? 
        = link_to "新規投稿", new_diary_path(@diary), class: 'toukou'
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class:'log-out'
    .header-left
      = link_to "ログイン", new_user_session_path, class: 'log-in'
      = link_to "新規登録", new_user_registration_path, class: 'new-user'
      .searchArea
        .searchText
        .searchButton
  .activemessage
  .nav
    .navvar
      = image_tag "photo.jpeg", class: 'img1', alt: "顔写真1"
      .over
        Start Line
.wrapper
  .header
    .header_left
      .header_left_home
        -# = link_to "新規投稿", new_diary_path(@diary)
    .header_right
      .header_right_log
    -#   = link_to new_group_path do
  .diaries
    = render @diaries
    
  .footer
    .footer-last
      %p
        kazuuright © design-kazuu. All kazya reserved.
      