.wrapper
  = render partial: "header"
  .main
    .main__sidebar
      = render partial: "sidebar"
    .main__center
      = render partial: "image"
    .main-middle
      = render @diaries
      = paginate(@diaries)
    = render partial: "footer"
  -#     .foot-btn__name
        -# = icon 'fas', 'pen',class: 'pencil'