.contents
  .contents__top
    .contents__top__middle
      = link_to root_path, class: 'link' do
        = image_tag 'logo.png', class: 'goaldiary'
  .contents__bottom
    .contents__bottom__middle
      %p.contents__bottom__middle__header
        日記作成
      = form_with model: @diary, local: true do |f|
        .contents__bottom__middle__middle
          カレンダー入力
          = f.date_field :goal, placeholder: :目標日, class: 'date'
        %label.contents__bottom__middle__content{for: 'img'}
          画像の投稿
          = f.fields_for :images do |i|
            = i.file_field :image, multiple: true, class: 'image', id: 'img'
          -# = f.file_field :image, placeholder: :画像投稿, class: 'image', id: 'img'
        -# %label.contents__bottom__middle__content2{for: 'img'}
          -# = f.fields_for :images do |i|
          -#   = i.label :image, class: "dropzone-box", for: "upload-image" 
          -#   = i.file_field :image, multiple: true, class: 'image', id: 'img' 
        .contents__bottom__middle__category
          カテゴリー
          = f.collection_check_boxes :category_ids, Category.all, :id, :name, id: "category"
        %label.contents__bottom__middle__text
          = f.text_area :content, placeholder: :１０００文字以内, class: :content
        .contents__bottom__middle__bottom
          %label.contents__bottom__middle__bottom__btn{for: 'bottonn'}
            = f.submit '投稿', placeholder: :投稿, class: 'hidden', id: 'bottonn'
            投稿