= form_with model: @diary, loacal: true do |f|
  .new-wrapper
    .header-yes
      .header-line
        = link_to "トップへ", root_path(@diary)
    .contents
      %p 日記作成
      .text
        = f.text_field :title, placeholder: :タイトル, class: :title
        -# = f.text_field :title, class: 'text', 
      .image-space
        = f.file_field :image, placeholder: :画像投稿, class: :button
      .posts
        = f.text_area :content, placeholder: :本文記述欄, class: :content
      .foot
        = f.submit '投稿する', class: 'form'