.wrapper
  = render partial: "header"
  .main
    .main__sidebar
      = render partial: "sidebar"
  = render partial: "image"
  .content
    .content__middle
      .content__middle__top
        = @diary.user.goal
        まで
        = @diary.date.ceil(0)
        日
        .content__middle__top__middle
      .content__middle__middle
        - if @diary.image.present?
          = image_tag @diary.image.url, class: 'image5', alt: "顔写真1"
        - else
          = image_tag "no.png", class: 'image5'
        .content__middle__middle__right
          = @diary.content
          ＜
          = @diary.created_at.to_s(:datetime_jp)
          ＞
        - if user_signed_in? && current_user.id == @diary.user_id
          = link_to "編集", edit_diary_path(@diary.id), class:"edit"
          = link_to "削除", diary_path(@diary.id), method: :delete, class: "destory"
      .content__middle__bottom
        - if user_signed_in?
          = form_with model: [@diary, @comment], local: true do |f|
            = f.text_area :text, placeholder: :コメント, class: 'text'
            = f.submit 'send', class: 'comment'
        .content__middle__bottom__likes
          = form_with model: [@diary, @like], class: 'form' do |iine|
            - if current_user.already_liked?(@diary)
              = iine.submit '❤️', method: 'delete'
            - else
              = iine.submit '♡', method: 'post'
            -# = iine.submit :♡, class: 'iine'
            = @diary.likes.count
      .content__middle__comments
        - if @comments.length != 0
          - @comments.each do |c|
          %p
            %strong
              = c.text 
                -# = image_tag current_user.image.url, class: 'user-image'
                -# = link_to current_user.nickname, user_path, class: 'name'
  = render partial: "footer"
      
  -# = render patical: 'footer'
      -#   .content__middle__middle__right
      -#     .content__middle__middle__right__name
      -#       = @diary.user.nickname
      -#     = @diary.content
      -# .content__middle__bottom
      -#   .content__middle__bottom__top
      -#     = @diary.user.nickname
      -#   .content__middle__bottom__text
      -#     = @diary.content
      -#   .content__middle__bottom__times
      -#     = @diary.created_at.to_s(:datetime_jp)
      -#     - if user_signed_in? && current_user.id == @diary.user_id
      -#       = link_to "編集", edit_diary_path(@diary.id), class:"edit"
      -#       = link_to "削除", diary_path(@diary.id), method: :delete, class: "destory"
      -#   .content__middle__bottom__likes
      -#     - if user_signed_in?
      -#       = form_with model: [@diary, @like], class: 'form' do |iine|
      -#         = iine.submit :♡, class: 'iine'
      -#         = @diary.likes.count

      -#   .content__middle__bottom__comments
      -#     - if @comments.length != 0
      -#       - @comments.each do |c|
      -#       %p
      -#         %strong
      -#           = c.text 
      -#             = image_tag current_user.image.url, class: 'user-image'
      -#             = link_to c.user.nickname, user_path, class: 'name'
      -# .content__middle__under
      -#   - if user_signed_in?
      -#     = form_with model: [@diary, @comment], local: true do |f|
      -#       = f.text_area :text, placeholder: :コメント, class: 'text'
      -#       = f.submit 'send', class: 'comment'
      -#   .content__middle__under__bottom
      -#   .content__middle__under__comment