.wrapper
  = render partial: "header"
  .wrap
    .wrap-middle
      .wrap-middle__header
        .wrap-middle__header__side
          = image_tag current_user.image.url, class: 'user-image'
          = form_with model: @user, local: true do |f|
            = f.text_area :introduction, placeholder: :自己紹介100文字以内, class: 'intro'
            = f.submit 'send', class: 'send'
        .wrap-middle__header__bottom